/user/_alarmtest
/user/_cat
/user/_cowtest
/user/_echo
/user/_forktest
/user/_grep
/user/_grind
/user/_init
/user/_kill
/user/_ln
/user/_ls
/user/_mkdir
/user/_myexperiments
/user/_rm
/user/_schedulertest
/user/_schedulertest_cpu
/user/_setpriority
/user/_sh
/user/_stressfs
/user/_test_1
/user/_test_2
/user/_usertests
/user/_wc
/user/_zombie
/user/alarmtest.asm
/user/alarmtest.d
/user/alarmtest.o
/user/alarmtest.sym
/kernel/bio.d
/kernel/bio.o
/user/cat.asm
/user/cat.d
/user/cat.o
/user/cat.sym
/kernel/console.d
/kernel/console.o
/user/cowtest.asm
/user/cowtest.d
/user/cowtest.o
/user/cowtest.sym
/user/echo.asm
/user/echo.d
/user/echo.o
/user/echo.sym
/kernel/entry.o
/kernel/exec.d
/kernel/exec.o
/kernel/file.d
/kernel/file.o
/user/forktest.asm
/user/forktest.d
/user/forktest.o
/kernel/fs.d
/fs.img
/kernel/fs.o
/user/grep.asm
/user/grep.d
/user/grep.o
/user/grep.sym
/user/grind.asm
/user/grind.d
/user/grind.o
/user/grind.sym
/user/init.asm
/user/init.d
/user/init.o
/user/init.sym
/user/initcode
/user/initcode.asm
/user/initcode.d
/user/initcode.o
/user/initcode.out
/kernel/kalloc.d
/kernel/kalloc.o
/kernel/kernel
/kernel/kernel.asm
/kernel/kernel.sym
/kernel/kernelvec.o
/user/kill.asm
/user/kill.d
/user/kill.o
/user/kill.sym
/user/ln.asm
/user/ln.d
/user/ln.o
/user/ln.sym
/kernel/log.d
/kernel/log.o
/user/ls.asm
/user/ls.d
/user/ls.o
/user/ls.sym
/kernel/main.d
/kernel/main.o
/user/mkdir.asm
/user/mkdir.d
/user/mkdir.o
/user/mkdir.sym
/mkfs/mkfs
/user/myexperiments.asm
/user/myexperiments.d
/user/myexperiments.o
/user/myexperiments.sym
/kernel/pipe.d
/kernel/pipe.o
/kernel/plic.d
/kernel/plic.o
/kernel/printf.d
/user/printf.d
/kernel/printf.o
/user/printf.o
/kernel/proc.d
/kernel/proc.o
/user/rm.asm
/user/rm.d
/user/rm.o
/user/rm.sym
/user/schedulertest.asm
/user/schedulertest.d
/user/schedulertest.o
/user/schedulertest.sym
/user/schedulertest_cpu.asm
/user/schedulertest_cpu.d
/user/schedulertest_cpu.o
/user/schedulertest_cpu.sym
/user/setpriority.asm
/user/setpriority.d
/user/setpriority.o
/user/setpriority.sym
/user/sh.asm
/user/sh.d
/user/sh.o
/user/sh.sym
/kernel/sleeplock.d
/kernel/sleeplock.o
/kernel/spinlock.d
/kernel/spinlock.o
/kernel/start.d
/kernel/start.o
/user/stressfs.asm
/user/stressfs.d
/user/stressfs.o
/user/stressfs.sym
/kernel/string.d
/kernel/string.o
/kernel/swtch.o
/kernel/syscall.d
/kernel/syscall.o
/kernel/sysfile.d
/kernel/sysfile.o
/kernel/sysproc.d
/kernel/sysproc.o
/user/test_1.asm
/user/test_1.d
/user/test_1.o
/user/test_1.sym
/user/test_2.asm
/user/test_2.d
/user/test_2.o
/user/test_2.sym
/kernel/trampoline.o
/kernel/trap.d
/kernel/trap.o
/kernel/uart.d
/kernel/uart.o
/user/ulib.d
/user/ulib.o
/user/umalloc.d
/user/umalloc.o
/user/usertests.asm
/user/usertests.d
/user/usertests.o
/user/usertests.sym
/user/usys.d
/user/usys.o
/user/usys.S
/kernel/virtio_disk.d
/kernel/virtio_disk.o
/kernel/vm.d
/kernel/vm.o
/user/wc.asm
/user/wc.d
/user/wc.o
/user/wc.sym
/user/zombie.asm
/user/zombie.d
/user/zombie.o
/user/zombie.sym
/user/getreadcount.asm
/user/getreadcount.d
/user/getreadcount.o
/user/getreadcount.sym
